/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family:"Raleway", sans-serif;
    color: white; 
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.menu{
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.recepty{
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}

.horni-radek{
    font-size: 14px;
    font-weight: 400;
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    justify-content: space-between;
}

.nadpis{
    font-size: 18px;
    font-weight: 800;
    margin-top: 30px;
}

.burger {
    padding:10px;
    height: 200px;
	background-image: url(images/burger.jpg);
	background-size:cover;
	background-position: center center; 
}
 
.burger h2 {
    font-size: 28px;
    font-weight: 800;
    margin-top: 120px;
}

.asie {
    padding:10px;
    height: 90px;
	background-image: url(images/sushi.jpg);
	background-size:cover;
	background-position: center center;
     
}
.omacky {
    padding:10px;
    height: 90px;
	background-image: url(images/rajcata.jpg);
	background-size:cover;
	background-position: center center;
}

.drubez {
    padding:10px;
    height: 90px;
	background-image: url(images/kure.jpg);
	background-size:cover;
	background-position: center center;
}

.gril {
    padding:10px;
    height: 90px;
	background-image: url(images/grilovani.jpg);
	background-size:cover;
	background-position: center center;
}

@media (min-width:600px){
    
    .burger{
        height:250px;
        padding:20px;
    }
    .burger h2 {
        font-size: 36px;
        margin-top: 150px;
    }
    .recepty{
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
    }
    
    
    .asie, .omacky {
       padding:20px;
       flex-grow: 1;
       flex-basis: calc(100%/2 - 0.1em);
       height: 150px;
        
    }
    .drubez, .gril {
        padding:20px;
        flex-grow: 1;
        flex-basis: calc(100%/2 - 0.1em);
        height: 150px;
      
    }
    .nadpis{
    font-size: 22px;
    margin-top: 60px;
    }
    }  

    @media (min-width: 1200px) {
    .menu  {
    flex-direction: row;
    } 
    .recepty{
        display:flex;
        flex-basis: 100%;

    }
    .burger{
        padding:20px;
        height: calc(400px + 0.1em);
        flex-basis: calc(100%/2  - 0.1em);
        flex-grow: 1;
    }
    .burger h2 {
        font-size: 48px;
        margin-top: 230px;
        
    }
  
    .asie, .drubez {
        height: 200px;   
        padding:20px;
        
    }
    .omacky, .gril {
        height: 200px;
        padding:20px;
    }
    .nadpis{
        font-size: 28px;
        padding-top: auto;
        margin-top: 100px;
        
    }
    .horni-radek{
        display: flex;

    }
}